:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #191D27;
}

.mat-form-field {
    width: 100%;
    outline: none;
    
 
    
}

form{

    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.button {
    display: flex;
    justify-content: flex-end;
}
.main-card{
    background-color: #1C212D;
}

input{
    color: white !important;
}
::placeholder{
    color: rgba(255, 255, 255, 0.226) !important;
}

mat-icon{
    color: #2A3343;
}

.lock-open{
    display: none;
}