:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: beige;
}

.mat-form-field {
    width: 100%;
    min-width: 500px;
    
}

form{
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.button {
    display: flex;
    justify-content: flex-end;
}