:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #191D27;
}

.mat-form-field {
    width: 100%;
    outline: none;
    
 
    
}

form{

    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.button {
    display: flex;
    justify-content: flex-end;
}
.main-card{
    background-color: #1C212D;
}

input{
    background-color: #202532 !important;
    padding: 13px 5px;
    border-radius: 10px;
    min-width: 100%;
    outline: none;
    
 
}
::placeholder{
    color: white;
}