@import "../../colors.scss";
@media screen and (min-width: 800px) {
    section{
        display: flex !important;
        gap: 15px !important;
    }
}
header{
    padding: 20px;
    h2{
        color: $accent-3;
        
    }


}
.main-section{
    padding: 20px;
}

label{
    color: $accent-3 !important;
}

#stepper{
    background-color: transparent !important;
    color: $accent-3 !important;
}
:host{
    overflow: auto;
}
.saveBtn{
    margin: 20px 0;
}


   

