<section class="main-section">
    <header>
        <h2>
            Nouveau Dossier classique
        </h2>
    </header>
    <mat-stepper [orientation]="orientation" #stepper color="accent" id="stepper">
        <form [formGroup]="DossierClassique" #dossierForm (ngSubmit)="save(dossierForm)">
            <mat-step [stepControl]="dossierForm['AnamneseFormGroup']" #classiqueStepper>
                <ng-template matStepLabel>Anamnèse</ng-template>
                <section class="anamnese" formGroupName="AnamneseFormGroup">
                    <div>
                        <mat-form-field>
                            <mat-label>Plainte Principale</mat-label>
                            <input formControlName="plainte" matInput placeholder="Ex. Saignement">
                        </mat-form-field>
                    </div>


                    <div>
                        <mat-form-field>
                            <mat-label>Histoire de la maladie</mat-label>
                            <textarea formControlName="histoire" matInput
                                placeholder="Ex. Saignement puis perte de connaissance"></textarea>
                        </mat-form-field>
                    </div>


                    <div>
                        <mat-form-field>
                            <mat-label>ATCD</mat-label>
                            <input type="text" matInput formControlName="antecedents" placeholder="Ex. HTA">
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field>
                            <mat-label>Complément d'Anamnèse</mat-label>
                            <input type="text" matInput formControlName="complement" placeholder="hémorragie abondante">
                        </mat-form-field>
                    </div>




                </section>
                <button mat-button matStepperNext>Suivant</button>
            </mat-step>

            <mat-step [stepControl]="dossierForm['ExamenPhysiqueFormGroup']">
                <ng-template matStepLabel>Examen Physique</ng-template>
                <section class="examen-physique" formGroupName="ExamenPhysiqueFormGroup">

                    <div class="tete-cou" formGroupName="teteCou">
                        <h5>Examen de la tête et du cou</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="cbi" formControlName="cbi">
                            <label class="form-check-label" for="cbi">Ictérique</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="cpp" formControlName="cpp">
                            <label for="cpp" class="form-check-label">Pale</label>
                        </div>


                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="deshydratee"
                                formControlName="deshydratee">
                            <label for="deshydratee" class="form-check-label">Déshydratée</label>
                        </div>


                    </div>


                    <div class="thorax" formGroupName="thorax">
                        <h5>Examen du thorax</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="asymetrique"
                                formControlName="asymetrique">
                            <label class="form-check-label" for="asymetrique">Asymétrique</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="polypnee" formControlName="polypnee">
                            <label class="form-check-label" for="polypnee">Polypnée</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="tachycardie"
                                formControlName="tachycardie">
                            <label class="form-check-label" for="tachycardie">Tachycardie</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="souffleCardiaque"
                                formControlName="souffleCardiaque">
                            <label class="form-check-label" for="souffleCardiaque">Souffle Cardiaque</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="crepitants"
                                formControlName="crepitants">
                            <label class="form-check-label" for="crepitants">Crépitants</label>
                        </div>



                    </div>

                    <div class="abdomen">
                        <h5>Examen de l'abdomen</h5>
                        <mat-form-field>
                            <input type="text" matInput formControlName="abdomen" placeholder="Ex. Sensible">
                        </mat-form-field>
                    </div>

                    <div class="ms">
                        <h5>Membres Supérieurs</h5>
                        <mat-form-field>
                            <input type="text" placeholder="Asymétriques ?" matInput formControlName="ms"
                                [matAutocomplete]="auto">
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                @for (option of filteredOptions | async; track option) {
                                <mat-option [value]="option">{{option}}</mat-option>
                                }
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                    <div class="mi">
                        <h5>Membres Inférieurs</h5>
                        <mat-form-field>
                            <input type="text" placeholder="Oedèmes ?" matInput formControlName="mi"
                                [matAutocomplete]="miAuto">
                            <mat-autocomplete autoActiveFirstOption #miAuto="matAutocomplete">
                                @for (choix of filteredMiOptions | async; track choix) {
                                <mat-option [value]="choix">{{miOptions}}</mat-option>
                                }
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                    <div class="oge">
                        <h5>Examen des organes génitaux externes</h5>
                        <mat-form-field>
                            <input type="text" matInput formControlName="oge"
                                placeholder="Ex. Vulve saine et eutrophiques">
                        </mat-form-field>
                    </div>
                </section>
                <button mat-button matStepperNext>Suivant</button>
                <button mat-button matStepperPrevious>Rentrer en arrière</button>
            </mat-step>


            <mat-step [stepControl]="dossierForm['ExamenGynFormGroup']">
                <ng-template matStepLabel>Examen Gynécologique</ng-template>

                <section formGroupName="ExamenGynFormGroup">

                    <div class="speculum">
                        <h5>Examen au speculum</h5>
                        <mat-form-field>

                            <input type="text" matInput formControlName="speculum" placeholder="Ex. col ouvert">
                        </mat-form-field>
                    </div>

                    <div class="tv">
                        <h5>Toucher vaginal</h5>
                        <mat-form-field>

                            <input type="text" matInput formControlName="tv" placeholder="Ex. col spastique">
                        </mat-form-field>
                    </div>



                </section>
                <button mat-button matStepperNext>Suivant</button>
                <button mat-button matStepperPrevious>Rentrer en arrière</button>
            </mat-step>

            <mat-step [stepControl]="dossierForm['Diagnostic']">
                <ng-template matStepLabel>Diagnostic</ng-template>

                <section>

                    <div class="dx">
                        <h5>Diagnostic</h5>
                        <mat-form-field>
                            <input type="text" matInput formControlName="Diagnostic" placeholder="Ex. tumeur ovarienne">
                        </mat-form-field>
                    </div>
                    <div class="cat">
                        <h5>CAT ou Prise en Charge</h5>
                        <mat-form-field>
                            <textarea matInput placeholder="Ex. 1L de Solution NaCl 0.9% "
                                formControlName="cat"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="paraclinique">
                        <h5>Examens paracliniques</h5>
                        <app-image-uploader />
                        <br>

                    </div>




                </section>

                <br>
                <mat-divider></mat-divider>
                <div class="saveBtn">
                    <button mat-button matStepperPrevious>Rentrer en arrière</button>
                    <button mat-stroked-button color="warn" (click)="save(dossierForm)">Enregistrer</button>
                </div>
            </mat-step>
        </form>
    </mat-stepper>



</section>