<div class="icons">
    <a [routerLink]="[{outlets: {dashboard: 'home'}}]" routerLinkActive="active">
        <mat-icon aria-hidden="false" [matRippleRadius]="25" [matRippleCentered]="true" matRipple aria-label="home icon"
        routerLinkActive  class="icon" fontIcon="home">
        </mat-icon>
    </a>

    <a [routerLink]="[{outlets: {dashboard: 'add'}}]" routerLinkActive="active" >
        <mat-icon aria-hidden="false" [matRippleRadius]="25" [matRippleCentered]="true" matRipple aria-label="Add icon"
            class="icon" fontIcon="add"
            routerLinkActive #add="routerLinkActive" (click)="openBottomSheet()"></mat-icon>
    </a>

    <a [routerLink]="[{outlets: {dashboard: 'list'}}]" routerLinkActive="active">
        <mat-icon aria-hidden="false" [matRippleRadius]="25" [matRippleCentered]="true" matRipple
            aria-label="Folder icon" class="icon" fontIcon="folder">

        </mat-icon>

    </a>
</div>