@media screen and (max-width: 800px) {
    .mobile-section{
      display: block !important;
    }
    .main-section{
      display: none !important;
    }
  }
  
  @media screen and (min-width: 801px){
    .mobile-section{
      display: none !important;
    }
  }
  .main-section{
      padding: 12px;
     
  }
  
  .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
    
    .example-full-width {
      width: 100%;
    }
    
    td {
      padding-right: 8px;
    }
    
  .next-btn-div{
    margin: 30px 0;
  }
  
  