<div class="main-section">
    <h1>
      Project Gyn
    </h1>
    <h3>
      Dossier n° {{dossier_id()}}
    </h3>
    <mat-stepper  class="example-stepper">
      <mat-step [stepControl]="firstFormGroup" label="Identité">
        <form class="example-form" [formGroup]="firstFormGroup">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td><mat-form-field class="example-full-width">
                  <mat-label>ID Fiche</mat-label>
                  <input matInput>
                </mat-form-field></td>
              <td><mat-form-field class="example-full-width">
                  <mat-label>Nom</mat-label>
                  <input matInput>
                </mat-form-field></td>
  
            </tr>
          </table>
          <mat-form-field class="example-full-width">
            <mat-label>Plainte Principale</mat-label>
            <input matInput>
          </mat-form-field>
  
          <p>
            <mat-form-field class="example-full-width">
              <mat-label>Address</mat-label>
              <textarea matInput placeholder="32 av Rue, Q. Jolicity"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>ATCD</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </p>
  
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td><mat-form-field class="example-full-width">
                  <mat-label>PGAD</mat-label>
                  <mat-hint>Separez par une virgule(2,1,0,0)</mat-hint>
                  <input matInput placeholder="2,1,0,0">
                </mat-form-field></td>
              <td>
                <mat-form-field>
                  <mat-label>DDR</mat-label>
                  <input matInput [matDatepicker]="picker">
                  <mat-hint>MM/JJ/AAAA</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </td>
  
            </tr>
          </table>
        </form>
  
  
        <div class="next-btn-div">
          <button mat-stroked-button color="primary" matStepperNext>Suivant</button>
        </div>
      </mat-step>
  
      <mat-step [stepControl]="secondFormGroup" label="Examen Physique">
       <form class="example-form" [formGroup]="secondFormGroup">
        
        <mat-form-field  class="example-full-width mar20">
          <mat-label>T&C</mat-label>
          <input matInput>
        </mat-form-field>
  
        <mat-form-field  class="example-full-width mar20">
          <mat-label>Thorax</mat-label>
          <input matInput>
        </mat-form-field>
  
        <mat-form-field  class="example-full-width mar20">
          <mat-label>Abdomen</mat-label>
          <input matInput>
        </mat-form-field>
  
        <mat-form-field  class="example-full-width mar20">
          <mat-label>Membres sup</mat-label>
          <input matInput>
        </mat-form-field>
  
        <mat-form-field  class="example-full-width">
          <mat-label>Membres inf</mat-label>
          <input matInput>
        </mat-form-field>
      
      </form>
      <div class="next-btn-div">
        <button mat-stroked-button color="primary" matStepperNext>Suivant</button>
      </div>
      </mat-step>
  
      
      
  
  
  
      <mat-step [stepControl]="thirdFormGroup" label="Examen Gynécologique">
        <form class="example-form" [formGroup]="thirdFormGroup">
         
         <mat-form-field  class="example-full-width">
           <mat-label>Toucher Vaginal</mat-label>
           <input matInput>
         </mat-form-field>
   
         <mat-form-field  class="example-full-width mar20">
           <mat-label>Speculum</mat-label>
           <input matInput>
         </mat-form-field>
   
         <mat-form-field  class="example-full-width mar20">
           <mat-label>Remarques supplementaires</mat-label>
           <input matInput>
         </mat-form-field>
       
       </form>
       <div class="next-btn-div">
        <button mat-stroked-button color="primary" matStepperNext>Suivant</button>
      </div>
       </mat-step>
       
  
  
       <mat-step [stepControl]="thirdFormGroup" label="Examens paracliniques">
        <form class="example-form" [formGroup]="thirdFormGroup">
         
          <app-image-uploader />
   
        
       
       </form>
       <div class="next-btn-div">
        <button mat-stroked-button color="primary" matStepperLabel>Enregistrer</button>
      </div>
       </mat-step>
  
       
  
  
    </mat-stepper>
  
  </div>
  
  
  
  <div class="mobile-section" style="display: none;">
    <h1>
      Project Gyn
    </h1>
    <h3>
      Dossier n° {{dossier_id()}}
    </h3>
    <mat-stepper  class="example-stepper" orientation="vertical">
      <mat-step [stepControl]="firstFormGroup" label="Identité">
        <form class="example-form" [formGroup]="firstFormGroup">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td><mat-form-field class="example-full-width">
                  <mat-label>ID Fiche</mat-label>
                  <input matInput>
                </mat-form-field></td>
              <td><mat-form-field class="example-full-width">
                  <mat-label>Nom</mat-label>
                  <input matInput>
                </mat-form-field></td>
  
            </tr>
          </table>
          <mat-form-field class="example-full-width">
            <mat-label>Plainte Principale</mat-label>
            <input matInput>
          </mat-form-field>
  
          <p>
            <mat-form-field class="example-full-width">
              <mat-label>Address</mat-label>
              <textarea matInput placeholder="32 av Rue, Q. Jolicity"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>ATCD</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </p>
  
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td><mat-form-field class="example-full-width">
                  <mat-label>PGAD</mat-label>
                  <mat-hint>Separez par une virgule(2,1,0,0)</mat-hint>
                  <input matInput placeholder="2,1,0,0">
                </mat-form-field></td>
              <td>
                <mat-form-field>
                  <mat-label>DDR</mat-label>
                  <input matInput [matDatepicker]="picker2">
                  <mat-hint>MM/JJ/AAAA</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </td>
  
            </tr>
          </table>
        </form>
  
  
        <div class="next-btn-div">
          <button mat-stroked-button color="primary" matStepperNext>Suivant</button>
        </div>
      </mat-step>
  
      <mat-step [stepControl]="secondFormGroup" label="Examen Physique">
       <form class="example-form" [formGroup]="secondFormGroup">
        
        <mat-form-field  class="example-full-width mar20">
          <mat-label>T&C</mat-label>
          <input matInput>
        </mat-form-field>
  
        <mat-form-field  class="example-full-width mar20">
          <mat-label>Thorax</mat-label>
          <input matInput>
        </mat-form-field>
  
        <mat-form-field  class="example-full-width mar20">
          <mat-label>Abdomen</mat-label>
          <input matInput>
        </mat-form-field>
  
        <mat-form-field  class="example-full-width mar20">
          <mat-label>Membres sup</mat-label>
          <input matInput>
        </mat-form-field>
  
        <mat-form-field  class="example-full-width">
          <mat-label>Membres inf</mat-label>
          <input matInput>
        </mat-form-field>
      
      </form>
      <div class="next-btn-div">
        <button mat-stroked-button color="primary" matStepperNext>Suivant</button>
      </div>
      </mat-step>
  
      
      
  
  
  
      <mat-step [stepControl]="thirdFormGroup" label="Examen Gynécologique">
        <form class="example-form" [formGroup]="thirdFormGroup">
         
         <mat-form-field  class="example-full-width">
           <mat-label>Toucher Vaginal</mat-label>
           <input matInput>
         </mat-form-field>
   
         <mat-form-field  class="example-full-width mar20">
           <mat-label>Speculum</mat-label>
           <input matInput>
         </mat-form-field>
   
         <mat-form-field  class="example-full-width mar20">
           <mat-label>Remarques supplementaires</mat-label>
           <input matInput>
         </mat-form-field>
       
       </form>
       <div class="next-btn-div">
        <button mat-stroked-button color="primary" matStepperNext>Suivant</button>
      </div>
       </mat-step>
       
  
  
       <mat-step [stepControl]="thirdFormGroup" label="Examens paracliniques">
        <form class="example-form" [formGroup]="thirdFormGroup">
         
          <app-image-uploader />
   
        
       
       </form>
       <div class="next-btn-div">
        <button mat-stroked-button color="primary" matStepperLabel>Enregistrer</button>
      </div>
       </mat-step>
  
       
  
  
    </mat-stepper>
  
  </div>