@import "../colors.scss";

.main-section{
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 10vh auto 10vh;
    main{
      
        overflow: auto;
    }
    footer{
        position: absolute;
        bottom: 0;
        background-color: aquamarine;
        width: 100%;
    }
}