@import "../colors.scss";

.main-section{
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 10vh;
   background-color: $bg-1;
    main{
      
        overflow: auto;
    }
    footer{
        position: absolute;
        bottom: 0;
        background-color: $bg-1;
        width: 100%;
    }
}