<div class="main-section">
    <mat-tab-group headerPosition="below">
        <mat-tab label="Acceuil" >
            <section class="page first">
                <mat-card>
                    <mat-card-content> Vos dossiers seront ici <br> appuyez sur le bouton + pour ajouter un</mat-card-content>
                  </mat-card>

                  <div class="add-btn-container">
                    <button mat-fab color="primary" aria-label="Example icon button with a home icon" (click)="navigateToAdd()">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                  
            </section>
        </mat-tab>
        <!-- <mat-tab label="Nouveau dossier">
            <section class="page">
                <app-add />
            </section>
        </mat-tab> -->
        <mat-tab label="Tous les dossiers">
            <section class="page">
                <app-data />
            </section>

            <div class="share-btn-container">
                <button mat-fab color="primary" aria-label="Example icon button with a home icon" (click)="navigateToAdd()">
                  <mat-icon>download</mat-icon>
                </button>
              </div>
        </mat-tab>
    </mat-tab-group>
</div>