/* You can add global styles to this file, and also import other style files */
@import "./app//colors.scss";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-bottom-sheet-container{
    background-color: $bg-2 !important;
    
}
